:root {
    --planet-cont-height:   30vh;
    --hover-diff:           20vh;
    --hover-cont-height:    calc( var(--planet-cont-height) + var(--hover-diff) );
    --planet-cont-width:    80vh;

    --planet-start:         10vh;
    --planet-division:      5vh;
    --mercury-diameter:     10vh;
    --venus-diameter:       13vh;
    --earth-diameter:       17vh;
    --mars-diameter:        10vh;
    --jupiter-diameter:     30vh;
    --saturn-diameter:      25vh;
    --uranus-diameter:      17vh;
    --neptune-diameter:     13vh;
    --blackhole-diameter:   90vh;
    --blackhole-rings:      calc(var(--blackhole-diameter) + var(--blackhole-diameter));
    --blackhole-height:     calc(var(--blackhole-diameter) + 10vh );
    --blackhole-width:      calc( (var(--blackhole-height) + var(--blackhole-height)));
    --initial-blackhole-scale: 0.01;

    /* --total-width:          calc( var(--neptune-from-left) + var(--neptune-diameter) + var(--planet-division) + var(--planet-start)); */
    --total-width:          calc( var(--planet-cont-width) * 8 );

    --magnified-width:      35vh;

    --mercury-color:        linear-gradient(rgb(183, 184, 185),
                                            rgb(173, 168, 165),
                                            rgb(177, 173, 173),
                                            rgb(140, 140, 148),
                                            rgb(104, 105, 109));

    --venus-color:         linear-gradient(rgb(248, 226, 176),
                                            rgb(238, 203, 139),
                                            rgb(227, 187, 118),
                                            rgb(211, 165, 103),
                                            rgb(173, 141, 84));

    --earth-color:          linear-gradient(rgb(79, 76, 176),
                                            rgb(107, 147, 214),
                                            rgb(233, 239, 249),
                                            rgb(159, 193, 100),
                                            rgb(216, 197, 150));

    --mars-color:           linear-gradient(rgb(240, 231, 231),
                                            rgb(69, 24, 4),
                                            rgb(193, 68, 14),
                                            rgb(231, 125, 17),
                                            rgb(253, 166, 0));

    --jupiter-color:        linear-gradient(rgb(235, 243, 246),
                                            rgb(227, 220, 203),
                                            rgb(216, 202, 157),
                                            rgb(165, 145, 134),
                                            rgb(201, 144, 57));

    --saturn-color:         linear-gradient(rgb(206, 184, 184),
                                            rgb(234, 214, 184),
                                            rgb(227, 224, 192),
                                            rgb(191, 189, 175),
                                            rgb(206, 206, 206));

    --uranus-color:         linear-gradient(rgb(225, 238, 238),
                                            rgb(209, 231, 231),
                                            rgb(198, 211, 227),
                                            rgb(248, 248, 255),
                                            rgb(217, 221, 244));

    --neptune-color:        linear-gradient(rgb(91, 93, 223),
                                            rgb(63, 84, 186),
                                            rgb(39, 70, 135),
                                            rgb(213, 213, 236),
                                            rgb(133, 173, 219));

}

body {
    background-color: black;
    overflow: hidden;
}

.hover-planets {
    position: relative;
    width: 100%;
    height: var(--hover-cont-height);
    background-color: rgba(255, 255, 255, 0);
    left: calc( (-1 * (var(--total-width) - 100%) / 2 ) - (var(--planet-cont-width) / 2) );
    top: calc( 50vh - ( var(--hover-cont-height) / 2) );
    z-index: -1;
}

.planets {
    display: flex;
    position: absolute;
    height: var(--planet-cont-height);
    width: calc( var(--planet-cont-width) * 8 );
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    margin-top: calc(var(--hover-diff) / 2);
    margin-bottom: calc(var(--hover-diff) / 2);
    /* z-index: 1; */
}

.planet-container {
    width: var(--planet-cont-width);
    height: var(--planet-cont-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.planet {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    border-radius: 50%;
    display: inline-block;
    z-index: 9999;
}

.mercury {
    width: var(--mercury-diameter);
    height:var(--mercury-diameter);
    background: var(--mercury-color);
    margin: auto;
}

.venus {
    background: var(--venus-color);
    width: var(--venus-diameter);
    height:var(--venus-diameter);
    margin: auto;
}

.earth {
    background: var(--earth-color);
    width: var(--earth-diameter);
    height:var(--earth-diameter);
    margin: auto;
}

.mars {
    background: var(--mars-color);
    width:              var(--mars-diameter);
    height:             var(--mars-diameter);
    margin:             auto;
}

.jupiter {
    background: var(--jupiter-color);
    width:              var(--jupiter-diameter);
    height:             var(--jupiter-diameter);
    margin:             auto;
}

.saturn {
    background: var(--saturn-color);
    width:              var(--saturn-diameter);
    height:             var(--saturn-diameter);
    margin:             auto;
}

.uranus {
    background: var(--uranus-color);
    width:              var(--uranus-diameter);
    height:             var(--uranus-diameter);
    margin:             auto;
}

.neptune {
    background: var(--neptune-color);
    width:              var(--neptune-diameter);
    height:             var(--neptune-diameter);
    margin:             auto;
}

#line {
    left: calc(50% - 10vh);
    top: 33%;
    /* width: 47px; */
    height: 33vh;
    border-left: 5vh solid rgba(255, 255, 255, 0);
    /* border-left: 5vh solid red; */
    position: fixed;
}

#focus-layer {
    width: 100%;
    height: 100%;
    position: fixed;
}

#background-space {
    width: 100vw;
    height:100vh;
    position: fixed;
    z-index:-1;

    /* From https://projects.verou.me/css3patterns/#starry-night */
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 8px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 7px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 5px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.blackhole-container {
    width:      var(--blackhole-width);
    height:     var(--blackhole-height);
    background-color: black;
    margin: auto;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    filter: blur(80px);
    filter: brightness(150%);

    transform: scale(var(--initial-blackhole-scale));

    animation-name: blackhole-gravity;
    animation-duration: 900s;
    animation-duration: 1;
    animation-fill-mode: forwards;
}

.blackhole {
    position: absolute;
    width:      var(--blackhole-diameter);
    height:     var(--blackhole-diameter);
    margin: auto;
    background: radial-gradient(
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 60%,
        rgba(255, 255, 255, 1) 60%,
        rgba(255, 165, 0, 1) 65%,
        rgba(0, 0, 0, 0) 70%,
        rgba(0, 0, 0, 0) 100%
      );
    filter: blur(8px);

    animation-name: blackhole-blur;
    animation-duration: 900s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.blackhole-rings-filter {
    position: absolute;
    display: flex;
    justify-content: center;
    width: var(--blackhole-rings);
    /* width: 100vw; */
    height: 50%;

    /* width: 100%;
    height: 50%; */

    filter: blur(10px);
    /* transform: rotate(-25deg); */
    top: 40%;
}

.blackhole-rings{
    position: absolute;
    width: var(--blackhole-rings);
    /* width:      calc(100vh + 100vh); */
    /* width: 100vh; */
    height:     17vh;

    background: radial-gradient(
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0.5) 30%,
        rgba(255, 255, 255, 0.5) 40%,
        orange 50%,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0) 100%
    );
}

.ring1 {
    position: absolute;
    top: 0%;
}

.ring2 {
    position: absolute;
    top: 0.5%;
}

.ring3 {
    position: absolute;
    top: 0.7%;
}

.ring4 {
    position: absolute;
    top: 3.5%;
}

.ring5 {
    position: absolute;
    top: 7%;
}

@keyframes blackhole-gravity {
    0% {
        transform: scale(var(--initial-blackhole-scale));
    }

    100% {
        transform: scale(2);
    }
}

@keyframes blackhole-blur {
    0% {
        filter: blur(8px);
    }

    70% {
        filter: blur(8px);
    }

    87.5% {
        filter: blur(5px);
    }

    100% {
        filter: blur(0);
    }
}